/* Definición de variables globales para colores y fuentes, promoviendo la consistencia y facilitando cambios globales */
:root {
    --color-primario: #38220f; /* Marrón oscuro usado como color de fondo principal y para elementos destacados */
    --color-secundario: #d6a26e; /* Marrón claro usado para contraste en enlaces, botones, etc. */
    --color-texto: #ffedc5; /* Color crema para el texto principal, proporcionando legibilidad sobre fondos oscuros */
    --color-texto-hover: #f8f9fa; /* Blanco ligero para efectos hover, mejorando la interactividad visual */
    --fuente-primaria: 'Slabo 27px', serif; /* Fuente personalizada para todo el texto, mejorando la estética */
}

/* Estilos básicos para el cuerpo del documento, aplicando la fuente principal y normalizando el margen y padding */
body, html {
    margin: 0;
    padding: 0;
    font-family: var(--fuente-primaria);
}

/* Estilos para el encabezado, incluyendo color de fondo, color de texto y posicionamiento para asegurar visibilidad */
header {
    background: var(--color-primario);
    color: var(--color-texto);
    padding: 10px 0;
    position: relative;
    z-index: 10; /* Asegura que el encabezado se mantenga por encima de otros elementos */
}

/* Ajustes específicos para el índice del encabezado, mejorando la responsividad y el posicionamiento de imágenes */
.header-index {
    display: block;
    max-width: 100%;
    height: 250px;
    margin: 0 auto;
    padding: auto 30px 0;
}

/* Configuración de la navegación, incluyendo alineación, margen y estilos de enlaces para mejorar la navegabilidad */
nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: var(--color-texto);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; /* Transición suave para el hover */
}

nav ul li a:hover,
nav ul li a:active {
    color: var(--color-texto-hover); /* Cambio de color al interactuar, mejorando la retroalimentación visual */
}

/* Estilos para mostrar la fecha y hora actuales, con un formato visual claro y distintivo */
#currentDateTime {
    font-size: 20px;
    color: #5a5a5a;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
    width: 200px;
}

/* Contenedor para carruseles de imágenes, asegurando máxima responsividad y margen adecuado */
.bxslider-container {
    max-width: 100%;
    margin: 20px auto;
}

/* Estilos generales para el pie de página, incluyendo colores, alineación y transiciones para enlaces */
footer {
    background: var(--color-primario);
    color: var(--color-texto);
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: var(--color-secundario);
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease; /* Transición suave para el hover, mejorando la interactividad */
}

footer a:hover {
    color: var(--color-texto-hover);
}


/* Estilos para secciones de negocio, incluyendo disposición flexible y alineación, promoviendo un diseño adaptable y cohesivo */
.business-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Configuración del contenedor de contenido para centrar elementos y mejorar la estructura visual del sitio */
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

/* Estilos para el contenedor de imágenes, ajustando su tamaño y espaciado para destacar visualmente en la página */
.image-container {
    flex: 1.5; /* Aumenta proporcionalmente el tamaño del contenedor de imágenes respecto a otros elementos */
    padding: 0 20px; /* Espaciado para evitar que el contenido se pegue a los bordes */
}

/* Asegura la responsividad de las imágenes dentro del contenedor, manteniendo su relación de aspecto */
.image-container img {
    max-width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
}

/* Estilos para el contenedor de información, ajustando su tamaño y espaciado para una presentación clara del texto */
.info-container {
    flex: 1; /* Establece una proporción respecto al contenedor de imágenes */
    padding: 0 20px; /* Espaciado para contenido textual */
}

/* Mejora la legibilidad y el enfoque visual en los títulos dentro del contenedor de información */
.info-container h2 {
    font-size: 1.75rem; /* Tamaño de fuente mayor para destacar */
    color: var(--color-secundario); /* Color para contraste y coherencia visual */
    margin: 20px 0; /* Espaciado para separar del contenido adyacente */
}

/* Establece el tamaño de fuente y estilo para el texto dentro del contenedor de información */
.info-container p {
    font-size: 1em; /* Tamaño de fuente estándar para texto */
}

/* Adaptaciones para dispositivos móviles, modificando la disposición de elementos para una mejor experiencia de usuario en pantallas pequeñas */
@media (max-width: 768px) {
    .business-section, .content-wrapper {
        flex-direction: column; /* Cambia la disposición a vertical */
    }

    /* Ajustes específicos para contenedores de información e imágenes en dispositivos móviles */
    .info-container, .image-container {
        width: 100%; /* Ocupan el ancho completo de la pantalla */
        padding-right: 0;
        padding-left: 0;
        margin-top: 20px; /* Espaciado superior para separar los elementos visualmente */
    }

    .info-container iframe {
        width: 100%; /* El iframe se ajusta al ancho del contenedor */
        height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
        border: none; /* Se elimina el borde para un look más limpio */
        border-radius: 8px; /* Bordes redondeados para coherencia visual */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidad */
        margin-top: 20px; /* Espaciado superior para separación visual */
    }

    nav ul {
        flex-direction: column; /* Los elementos del menú se disponen verticalmente */
    }

    nav ul li {
        margin-bottom: 10px; /* Espaciado entre elementos del menú para facilitar la navegación táctil */
    }
}

.menu-section {
    background-color: #efebe9; /* Un color de fondo claro */
    padding: 20px;
    text-align: center;
  }
  
  .menu-title {
    font-size: 2.5em; /* Ajustar el tamaño del título */
    margin-bottom: 20px;
    color: var(--color-primario); /* Usando una variable de color definida previamente */
    font-family: var(--fuente-primaria); /* Usando una variable de fuente definida previamente */
  }
  
  .menu-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .menu-category {
    width: 45%; /* Ajusta este porcentaje según prefieras */
    margin-bottom: 20px;
  }
  
  .menu-category h3 {
    font-size: 1.5em;
    color: var(--color-primario);
    margin-bottom: 10px;
  }
  
  .menu-category ul {
    list-style: none;
    padding: 0;
  }
  
  .menu-category ul li {
    font-size: 1.2em;
    color: #333; /* Un color oscuro para el texto */
    margin-bottom: 5px; /* Espacio entre los ítems del menú */
    display: flex;
    justify-content: space-between;
  }
  
  .menu-category ul li span {
    font-weight: bold;
  }
 
  /* Formulario de la cafetería */ 

 /* Mejoras generales para la sección de contacto */
.contact-section {
    background-color: #fafafa; /* Un fondo más claro y cálido */
    padding: 40px; /* Espaciado ajustado */
    max-width: 600px; /* Ancho más adecuado para la forma */
    margin: 40px auto; /* Ajuste de margen */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra más suave */
    border-radius: 8px; /* Bordes ligeramente redondeados */
}

/* Estilos para el título del formulario */
.contact-section h2 {
    color: #38220f; /* Alineado con la paleta de colores */
    font-size: 24px; /* Tamaño de fuente optimizado */
    margin-bottom: 25px; /* Espaciado debajo del título */
    font-weight: bold; /* Negrita para el título */
}


/* Estilos para las etiquetas */
.contact-form label {
    color: #38220f; /* Color alineado con la paleta */
    font-size: 1em; /* Tamaño de fuente estandarizado */
    margin-bottom: 10px; /* Menor espacio debajo de las etiquetas para un diseño más compacto */
    font-weight: bold; /* Hacer las etiquetas en negrita para mayor legibilidad */
}

/* Mejoras en los inputs y textarea */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%; /* Mantener el ancho completo */
    padding: 15px; /* Espaciado interno para facilitar la escritura */
    margin-bottom: 20px; /* Espaciado más grande para una mejor separación de los campos */
    border: 1px solid #ccc; /* Borde más sutil */
    background-color: #fff; /* Asegurarse de que el fondo sea blanco para mejorar el contraste */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra interna sutil para profundidad */
    font-size: 1em; /* Tamaño de fuente uniforme */
}

/* Específico para el área de texto */
.contact-form textarea {
    height: 120px; /* Altura ajustada para el área de texto */
    resize: vertical; /* Permitir solo redimensionamiento vertical */
    resize: none;
}

/* Estilizar el botón de envío */
.contact-form input[type="submit"] {
    width: 100%; /* Hacer que el botón ocupe todo el ancho */
    padding: 10px 15px; /* Ajustar el relleno */
    background-color: #38220f; /* Color que se alinea con la identidad de la marca */
    color: #fff; /* Texto en blanco para contraste */
    font-size: 1.1em; /* Tamaño de fuente del botón un poco más grande */
    border: none; /* No hay borde */
    border-radius: 4px; /* Bordes sutilmente redondeados */
    cursor: pointer; /* Estilo del cursor para indicar clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para dar sensación de botón */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Efecto al pasar el mouse por encima del botón */
.contact-form input[type="submit"]:hover {
    background-color: #d6a26e; /* Cambiar a un color más claro al pasar el mouse */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra más prominente para efecto 3D */
}

/* Ajustes de responsive para móviles */
@media (max-width: 768px) {
    .contact-section {
        padding: 25px; /* Menor relleno para pantallas pequeñas */
        margin: 20px auto; /* Margen superior e inferior reducido */
    }

    .contact-form input[type="submit"] {
        padding: 10px 15px; /* Ajuste del relleno en dispositivos móviles */
    }
}

    /* Estilos para la sección de términos y condiciones */
    .terminos {
        margin-top: 20px; /* Espacio por encima de la sección de términos */
        display: flex;
        align-items: center; /* Alineación vertical de la casilla y la etiqueta */
        gap: 10px; /* Espacio entre la casilla y la etiqueta */
    }

    /* Personalización de la casilla de verificación */
    .terminos input[type="checkbox"] {
        accent-color: #38220f; /* Color de la casilla para navegadores que soporten esta propiedad */
        cursor: pointer; /* Cursor en forma de mano al pasar por encima */
    }

    /* Estilo para la etiqueta de los términos y condiciones */
    .terminos label {
        color: #555; /* Color que concuerde con la paleta del formulario */
        cursor: pointer; /* Cambiar el cursor para indicar que es clickeable */
        user-select: none; /* Evitar la selección del texto al hacer clic */
    }

    /* Estilo para los mensajes de error */
    .error {
        color: #cc0000; /* Color rojo para mensajes de error */
        font-size: 0.9em; /* Tamaño de fuente para el mensaje de error */
        display: none; /* Ocultar por defecto */
        margin-top: 10px; /* Espacio arriba del mensaje de error */
        /* Añadir más estilos si es necesario */
    }

    /* Si el error es visible, cambiar su estilo */
    .error.visible {
        display: block; /* Mostrar mensaje de error */
    }

    /* Hacer que el botón de envío esté alineado con la casilla de términos */
    .contact-form input[type="submit"] {
        margin-top: 20px; /* Espacio adicional si es necesario */
    }


/* Nosotros */

.team-section {
    text-align: center; /* Centra el texto de la sección */
    padding: 40px 0; /* Agrega relleno arriba y abajo de la sección */
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos del equipo */
    gap: 30px; /* Crea un espacio entre los elementos del equipo */
}

.team-member {
    width: 300px; /* Ancho fijo para cada miembro del equipo */
    margin: 0 15px; /* Margen a los lados para separar los elementos */
    text-align: center; /* Centra el texto de cada miembro del equipo */
    padding: 20px; /* Relleno alrededor de cada miembro del equipo */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar las tarjetas */
}

.team-member-image {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin-bottom: 20px; /* Espacio debajo de la imagen */
}

.team-member-name {
    font-size: 1.5em; /* Tamaño más grande para el nombre */
    margin-bottom: 10px; /* Espacio debajo del nombre */
}

.team-member-description {
    font-size: 1em; /* Tamaño estándar para la descripción */
    color: #666; /* Color más suave para la descripción */
}

@media (max-width: 768px) {
    .team-container {
        flex-direction: column; /* Apila los elementos del equipo en móviles */
    }

    .team-member {
        width: 80%; /* Los miembros del equipo ocupan más ancho en móviles */
        margin: 20px auto; /* Centra las tarjetas y añade espacio */
    }
}

/* Títulos de las secciones */
.section-title {
    font-size: 2.5em;
    text-align: center;
    color: var(--color-primario);
    margin: 40px 0 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-secundario);
}

/* Estilos para la sección de eventos */
.events-section {
    padding: 20px 0;
    background-color: #fff;

}

.events-title {
    font-size: 2.5em;
    text-align: center;
    color: var(--color-primario);
    margin: 40px 0 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-secundario);}

.events-content {
  
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.events-section .event {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 4px solid var(--color-secundario);
}

@media (max-width: 768px) {
    .events-content {
    grid-template-columns: 1fr;
    }

}
/* Estilos para la sección de promociones especiales */
.specials-section {
    padding: 20px 0;
    background-color: #f2f2f2;
}

.specials-section .special {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    border-left: 4px solid var(--color-primario);
}


.specials-content {
max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 20px;
}

@media (max-width: 768px) {
.specials-content {
grid-template-columns: 1fr;
}
}

/* Estilos generales para mejorar la apariencia */
body {
background-color: #eae7dc; /* Un color de fondo ligero para la página completa */
}

/* Mejorando la apariencia del contenido principal */
.content-wrapper {
background-color: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
}

/* Ajustes para elementos dentro de content-wrapper */
.content-wrapper > *:not(:last-child) {
margin-bottom: 20px;
}

.datetime-ticker {
    background-color: var(--color-primario);
    color: var(--color-texto);
    text-align: center; /* o `left`, dependiendo de la preferencia */
    padding: 5px 0; /* Ajusta el relleno según sea necesario */
    /* Eliminar las propiedades de animación si no deseas un efecto ticker */
}

.datetime-content {
    /* Estilos para el contenido de fecha y hora */
    display: inline-block;
    vertical-align: middle;
}


.faq-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.faq-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.faq-container .faq h3 {
    color: #38220f;
    margin-top: 20px;
}

.faq-container .faq p {
    font-size: 0.9em;
    text-align: justify;
}


.map-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.map-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#map iframe {
    width: 100%;
    height: 300px; 
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
